<% include ../partials/header %>

<br><br>
<br><br>
<div class="ui main text container segment">
    <div class="ui huge header"><%= update.name %></div>
    <div class="ui top attached segment">
        <div class="item">
            <div>
                <img class="ui centered rounded image" src="<%=update.image %>">
            </div>
            <div class="description">
                <p><%= update.name %></p>
            </div>
            <div class="description">
                <p><%= update.address %></p>
            </div>
            <div class="description">
                <p><%= update.phoneno %></p>
            </div>
            <div class="description">
                <p><%= update.city %></p>
            </div>
            <div class="description">
                <p><%= update.state %></p>
            </div>
            
            <div class="description">
                <p>
                    <a class="btn-btn-success" href="/update/<%= update.id %>/comments/new">Add New Comments</a>
                </p>
            </div>
            
            
            <% update.comments.forEach(function(comment){ %>
                <p>
                    <strong><%= comment.author.username %></strong> - <%= comment.text %>
                </p>
                <p> <%= comment.rating%></p>
            <% }) %>
            <a class="ui orange basic button" href="/update/<%= update.id %>/edit">Edit</a>
            
                <form id="delete" action="/update/<%= update.id %>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                    
                </form>
            
        </div>
    </div>
</div>
<% include ../partials/footer %>